<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ snippet.url }}" title="{{ snippet.title }}" class="post-teaser">{% if snippet.image %}<img src="{{ site.url }}/{{ snippet.image }}" alt="teaser" itemprop="image">
    {% else %}<img src="{{ site.url }}/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
  <h2 class="post-title" itemprop="name"><a href="{{ site.url }}{{ snippet.url }}">{{ snippet.title }}</a></h2>
  <!-- <p class="post-excerpt" itemprop="description">{{ snippet.excerpt | strip_html | truncate: 160 }}</p> -->
</article><!-- /.tile -->
